html, body {
    width:100vw;
    display:inline-block;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

a {
  color:#000;

}

a:hover {
  color:#000;
}

a:active {
  text-decoration:none;
}

h2,h3,h1{
  font-family: 'Montserrat', sans-serif !important;

}

h2 {
  margin-top: 4%;
}

h3 {
  margin-top:6%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MENU */

nav {
  position: fixed;
  top: 0;
  padding: 20px;
  z-index:2;
  width: 100vw;
  background: #fff;

}

nav h2 {
  display: inline;
  font-family: 'Fredoka One', sans-serif;
  color: #57c2d4;
  margin-left:12.5%;
  font-weight: bold;
}

.vetly_logo {
  width:140px;
  margin-left:12%;
}

.v {
  color: #b24747;
}

.menu {
  position: relative;
  margin-top: 7px;
  float: right;
  margin-right:9.5%;
  list-style-type: none;
  transition: top 0.5s cubic-bezier(0.3, 0.1, 0.3, 0.85);
  z-index: 1;
}

.menu li {
  display: inline;
  margin-right: 30px;
  cursor: pointer;
  /*font-family: 'Raleway', sans-serif;*/
  font-size: 1.1em;
}

.menu li::before {
  position: absolute;
  bottom: -6px;
  content: "";
  height: 3px;
  width: 0;
  background: #000;
  transition: 0.5s;
}

.menu li:hover {

}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

nav label {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  background: #transparent;
  cursor: pointer;
  z-index: 2;

}

nav > label > span {
  display: block;
  margin: 4px auto;
  height: 4px;
  width: 25px;
  border-radius: 1px;
  background: #000;
  transition: 0.5s;
}

nav > label > span:nth-child(1) {
  margin-top: 25px;
}

input[type=checkbox]:checked ~ .menu {
  top: 0;
}

input[type=checkbox]:checked ~ label span {
  background: #000;
}

input[type=checkbox]:checked ~ label span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

input[type=checkbox]:checked ~ label span:nth-child(2) {
  opacity: 0;
}

input[type=checkbox]:checked ~ label span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 1000px) {
    .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        top: -100vh;
        left: 0;
        height: 22vh;
        width: 100%;
        background: -webkit-linear-gradient(left, #57c2d4, #4674a6);
    }
    .vets{
      width:100% !important;
      height:100% !important;
    }
    .services{
      margin-top:0% !important;
      width:100% !important;
      height:100% !important;
      background: -webkit-linear-gradient(left, #ffff99, #ffff4d);
     }
     .col-md-6:nth-child(2){
      display:none !important;
     }
    .menu li {
        margin: 2px;
        font-size: 1.4em;
        color: #fff;
    }

    nav label {
        display: block;
    }

    nav h2 {
        margin: 0;
    }
    .col-md-4{
        float:left;
        width:100%;
        margin-top:5% !important;

    }
    .col-md-4 h2{
      margin-bottom:5% !important;
    }

    .col-md-3{
        float:left;
        width:100%;
        border-radius:0px !important;
    }
    .col-md-3 h2{
      text-align:center !important;
    }
    .col-md-3 img{
      width:25% !important;
      border-radius:15px !important;
    }
    .col-md-6{
        float:left;
        width:100%;
    }
    .col-md-12{
      float:left;
      width:100%;
    }

    .book{
        width:100%;
        float:left;
    }

    .book button{
        display:inline-block;
        margin-top:12.5%;
        margin-bottom: 15%;
        width:50%;
    }


    .about{
      width:100% !important;
      height:100% !important;
    }

    .fix {
      margin-bottom: 50px !important;
    }


    .start {
      margin-top:10% !important;
    }

    .start ul  {
      list-style: outside none none;
      margin: 16% 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
    }

    .img-veterinary {
      display:none;

    }

    .footer-distributed {
      text-align:center !important;
    }


    .footer-distributed .footer-left{
      display:none !important;
    }
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        text-align:left;
        display: initial   !important;
        vertical-align: top;
        width:100%;
    }

    .footer-distributed .footer-center i{
        margin: 15px 10px 15px 2px !important;
    }

    .row {
      margin-left:1% !important;
      margin-right:1% !important;
    }




}

@media (max-width: 480px) {

    .start-text {
      text-align: left !important;
      float:none !important;
      margin-top: 10% !important;
      margin-left:0px !important;
    }

    .start img {
      width:60%;
      margin-bottom:12%;
    }

    .start h1 {
      font-size:1.9em;
      margin: 20% 0 0%;
    }


}


/****************************/

.start{
    width:100vw;
    height:95vh;
    margin-top:3%;
    background: -webkit-linear-gradient(left, #57c2d4, #4674a6);
    padding:10%;

}

.start-text {
    float:left;
    margin-top:-3%;
    margin-left:6%;
}

.heading-start {
    color:#fff;
    font-size:3.6em;
    font-family: 'Fjalla One', sans-serif !important;

}

.start-list {
    list-style: outside none none;
    margin: 16% 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.start-list li {
    text-align:left;
    font-size: 1.4em;
    font-weight: 400;
    margin: 20px 0;
    color:#fff;
}

.start-list li .icon {
    height: 18px;
    width: 18px;
    color:#fff;
    margin-top:6%;

}

.img-appstore {
    width:147px;
}

.img-computer {
    width:160px;


}

.img-veterinary {
    float:left;
    margin-top:-3%;
    width:550px;
}


.img-horse {
    margin-left: 82%;
    margin-top: -44%;
}
/*START SECTION END*/
.sign{
  border:2px solid black;
  width:100vw;
  height: 92vh;
  background-color: #BDDBC7;
}
.signup{
  background-color: #90EE90;
  float:left;
  width:30%;
  text-align: center;
  border-radius: 15px;
  margin: 10% 0 0 10%;
}
.signin{
  background-color: #90EE90;
  float:right;
  width:30%;
  text-align: center;
  border-radius: 15px;
  margin: 10% 10%;
}

input {
  background-color: #D3D3D3;
  margin: 10px;
  padding: 10px;
}
::-webkit-input-placeholder {
  color: #000;
}

form button {
  padding: 10px;
  margin: 15px 0 15px 0;
  background-color: #D3D3D3;
}

.about{
  width:100vw;
  height:50vh;
}

.about p{
  font-size:1.2em;
  font-style: italic;
}

.customers {
  margin-bottom: -40px;
}

.services{
    width:100vw;
    height:75vh;
    background: -webkit-linear-gradient(left, #fee0a2, #fdba35);


}

.bookbutton{
    margin: 0% auto;
    display:inline-block;
    text-align:center;
    margin-top:10%;
    margin-top:4%;
    margin-bottom: 4%;
    width:25%;
    padding:1%;
    font-size:2em;
    color:#fff;
    background: -webkit-linear-gradient(left, #57c2d4, #4674a6);
    border:3px solid white;
    transition-duration:0.4s;
    /*font-family:'Fredoka One', sans-serif;*/
    font-family: "Fjalla One",sans-serif;


}

.bookbutton:hover{

    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
    transition-duration:0.4s;
}
.vets{
    width:100vw;
    height:80vh;
    color:#fff;
    background: -webkit-linear-gradient(left, #57c2d4, #4674a6);
  }
.vets img{
      border-radius:50%;
}

.vettext {
  width: 90%;
  float: left;
  font-size: 1.2em;
}

.vettext2 {
  padding-bottom: -5px 0 50px 0;
  font-size: 0.8em;
  font-style: italic;
}

.join{
  width:100vw;
  height:27vh;

}


/*BOOTSTRAP STYLING*/

.row{
  margin-left:10%;
  margin-right:10%;
}
.col-md-12{
  text-align:center;
}
.col-md-3{
    margin-top:5%;
    text-align:center;
    border-radius:50%;
    font-size: 1.3em;
}
.col-md-3 h2 {

    text-align:center;
    margin-left:4%;
    font-size: 1.4em;
}
.col-md-3 .doc{

    width:14vw;
    height:25vh;
    opacity:0.7;
    transition-duration:0.4s;

}
.col-md-3 .doc:hover{
  opacity:1.0;
  transition-duration:0.4s;
}

.col-md-4{
    margin-top:5%;
    text-align:center;
    z-index:0;

}
.col-md-4 p{
    text-align:left !important;
    margin-top: 5%;
}
.col-md-4 h2{
    text-align:center;
    margin-bottom:15%;
}

.col-xs-4{
    font-size:1.4em;
}
.col-md-6 {
    float:left;
}
/*bild properties för steg för steg sidan*/
.account, .cal, .convo{
    display:inline-block;
    width:5vw;
    text-align:center;
}


/*   Footer Starts Here */

    .vetly_logo_footer {
        width:140px;

    }

    .footer-distributed{
        float:left;
        background-color: #222;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100vw;
        text-align: left;
        font: bold 16px sans-serif;

        padding: 55px 50px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left{
        width: 30%;
    }





    .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }

    .footer-distributed h3 span{
        color:  #5383d3;
    }

    /* Footer links */

    .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

    .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
        color:  inherit;
    }

    .footer-distributed .footer-company-name{
        color:  #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    /* Footer Center */

    .footer-distributed .footer-center{
        width: 35%;
    }

    .footer-distributed .footer-center i{
        background-color: #000;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }

    .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }

    .footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin:0;
    }

    .footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
    }

    .footer-distributed .footer-center p a{
        color:  #5383d3;
        text-decoration: none;
    }


    /* Footer Right */

    .footer-distributed .footer-right{
        width: 34%;
    }

    .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

    .footer-distributed .
    -company-about span{
        display: block;
        color:  #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .footer-distributed .footer-icons{
        margin-top: 25px;
    }

    .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #000;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        transition-duration: 0.5s;
        margin-right: 3px;
        margin-bottom: 5px;
    }

    .footer-icons .facebook:hover{
      background-color: #3b5998;
      transition-duration: 0.4s;
    }

    .footer-icons .twitter:hover{
      background-color: #00aced;
      transition-duration:0.4s;
    }

    .footer-icons .linkedin:hover{
      background-color: #0077b5;
      transition-duration:0.4s;
    }

    .footer-icons .github:hover{
      background-color: #6e5494;
      transition-duration:0.4s;
    }

    

    .fa-chevron-up {

      color:#fff;
      float:right !important;
    }
/*------------Footer Part Over here---------*/
