body {
    width:100vw;
    display:inline-block;
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


.nav{
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100vw;
    height:5vw;
}
.nav a{
    float: right;
    display: block;
    color: #fff;
    background-color:#000;
    text-align: center;
    padding:2% 2%;
    text-decoration: none;
    font-size: 17px;
}
a:hover{
    color:#000;
    background-color:#fff;
}
.start{
    width:100vw; 
    height: 92vh;
    margin-top:5%;
    /*background: -webkit-linear-gradient(left, #00ccff, #80e5ff); Gradient Example*/
    background:#85ccc2;
    padding:10%;

}

.start-text {
    float:left;
    margin-top:-3%;
}

.heading-start {
    color:#fff;
    font-size:3.6em;
    text-shadow: 1px 1px #cccccc;
}

.start-list {
    list-style: outside none none;
    margin: 50px 0;
    padding: 0;
}
.start-list li {
    font-size: 1.4em;
    font-weight: 400;
    margin: 20px 0;
    color:#fff;
}
.start-list li .icon {
    height: 18px;
    width: 18px;
    color:#fff;
    margin-top:6%;

}

.img-appstore {

}

.img-veterinary {
    float:right;
}

.img-horse {
    float: right;
    margin-right: -51%;
    margin-top: -5%;
}

.sign{
  width:100vw; 
  height: 92vh;
  background-color: #BDDBC7;
}
.signup{
  background-color: #90EE90;
  float:left;
  width:30%;
  text-align: center;
  border-radius: 15px;
  margin: 10% 0 0 10%;
}
.signin{
  background-color: #90EE90;
  float:right;
  width:30%;
  text-align: center;
  border-radius: 15px;
  margin: 10% 10%;
}

input {
  background-color: #D3D3D3;
  margin: 10px;
  padding: 10px;
}
::-webkit-input-placeholder {
  color: #000;
}

form button {
  padding: 10px;
  margin: 15px 0 15px 0;
  background-color: #D3D3D3;
}

.info{
    float:left;
    width:100vw; 
    height:92vh;
}
.vets{
    float:left;
    width:100vw; 
    height:92vh;
}
.faq{
    float:left;
    width:100vw; 
    height:50vh;
}
.footer{
    float:left;
    width:100vw; 
    height: 38vh;
    background-color:#888;
}
.col-md-4{
    margin-top:7%;
    text-align:center;
    z-index:-1;
}
.col-md-3{
    margin-top:5%;
    text-align:center;
    border-radius:50%;
    z-index: -1;
    font-size: 1.3em;
}
.row{
    margin-left:auto;
    margin-right:auto;
}
.col-md-3 h2{
  font-size: 1.4em;
}
.col-xs-4{
    font-size:1.4em;
}
.form h2{
    text-align:center;
}
.kontakt h2, p{
    margin-left:5%;
    margin-top:4.5%;
}
.findus h2{
    text-align:right;
    margin-right:5%;
}
.col-xs-4 form{
    display:inline-block;
    text-align:center;
}
.col-xs-4 img{
    width:20vw;
    height:15vw;
    float:right;
    margin-right:5%;
}
.col-xs-4 input, textarea{
    width:80%;
    border-radius:5px;
}
/*bild properties för steg för steg sidan*/
.account, .cal, .convo{
    border-radius:50%;
    width:10vw;
}
.col-md-3 .lana, .krieger, .archer, .malory{
    border-radius:50%;
    width:12vw;
    height:12vw;
}
.glyphicon{
    font-size:8em;
    z-index:-1;

}
hr{
    border:2px solid black;
}
